<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="dao.domain.User" alias="User" />
        <typeAlias type="dao.domain.News" alias="News" />
        <typeAlias type="dao.domain.City" alias="City" />
        <typeAlias type="dao.domain.District" alias="District" />
        <typeAlias type="dao.domain.MailConfig" alias="MailConfig" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                 
                    <property name="url" value="jdbc:mysql://localhost:3306/training?characterEncoding=UTF-8" />
                        <property name="username" value="root"/>
                        <property name="password" value=""/>       
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="dao/sqlmap/tbl_user_Sql.xml" />
        <mapper resource="dao/sqlmap/tbl_news_Sql.xml" />
        <mapper resource="dao/sqlmap/tbl_city_Sql.xml" />
        <mapper resource="dao/sqlmap/tbl_district_Sql.xml" />
        <mapper resource="dao/sqlmap/tbl_email_config_Sql.xml" />
    </mappers>
</configuration>
