.marT05 {margin-top:05px;}
.marT10 {margin-top:10px;}
.marT15 {margin-top:15px;}
.marT20 {margin-top:20px;}
.marT25 {margin-top:25px;}
.marT30 {margin-top:30px;}
.marT35 {margin-top:35px;}
.marT40 {margin-top:40px;}
.marT70 {margin-top:70px;}

.marB10 {margin-bottom:10px;}